#main {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#taskswrapper {
	overflow: scroll;
	width: 95%;
	height: 150px;
}
.panel {
	width:200px;
	min-height:100px;
	background-color: #FFFFCC;
	padding: 3px;
}
button {
	margin-left: 10px;
}
#files{
    display:none
}
a {
  color: #00B7FF;
}

/* navbar */
.navbar-primary .navbar { background:#010; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: lightyellow;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: brown;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

#bottompanelwrap{
	position: absolute;
	bottom:0px;
	width:100%;
}
#bottomLpanel {
	background-color: lightgrey;
}

.invalidx{
	background-color: lightred;
}

#bottomRpanel {
	background-image: url('http://rebabre.com/app/charta/resource/rightpanel.jpg');
}
#btn-main{
	font-size: 2.3em;
}
#bg-imagebig{
	position:absolute;
	top:30px;
	z-index:-20;
	width:95%;
	height: 100%;
	background-image: url('http://rebabre.com/app/charta/resource/mainbg-mob.jpg');
	background-size: 95%;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 180px;
}
#main-headings-desc{
	text-align:center;
	padding:10%;
	padding-top:140px;
	padding-bottom:100px;
}

@media screen and (min-width: 540px)
{

body{
	*background-color: pink;
}
#main-headings-desc{
	padding-bottom:45%;
}
}

@media screen and (min-width: 742px)
{
#main {
  padding: 50px;
}
body{
	*background-color: green;
}
#main-headings-desc{
	text-align:center;
	padding:20%
}
#bg-imagebig{
	top: 55px;
	background-image: url('http://rebabre.com/app/charta/resource/mainbg.jpg');
}


}

}
@media screen and (min-width: 1180px)
{

}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

@media screen and ( min-height: 600px ){
	#taskswrapper {
	height: 200px
	}
}

@media screen and ( min-height: 700px ){
	#taskswrapper {
	height: 350px
	}
}

@media screen and ( min-height: 900px ){
	#taskswrapper {
	height: 500px;
	}
}
